.FilterBarContainer {
    align-items: center;
    height: 7vh;
    box-shadow: rgba(33, 35, 38, 0.25) 0px 10px 10px -10px;
}

.FilterBarContainer > label{
    margin-left: 15px;
}

.TagContainer {
    display: flex;
    box-shadow: rgba(33, 35, 38, 0.25) 0px 10px 10px -10px;
}